.vscode/**
.github/**
src/**
webview-src/**
node_modules/**
out/**/*.map
out/test/**
esbuild.*.js
tsconfig*.json
vitest.config.ts
*.test.ts
.eslintrc.json
.gitignore
.env*
.pytest_cache/**
yarn.lock
package-lock.json
vsc-extension-quickstart.md
